/* responsive.css */
/* Debugging CSS */
/* * {
    outline: 1px solid rgba(255, 0, 0, 0.3);
  }
  
  *:hover {
    outline-color: rgba(0, 255, 0, 0.6);
  } */

/* Mobile and Tablet */
@media screen and (max-width: 1024px) {
    body {
      font-size: 16px;


    }
    
    h1 {
      font-size: 2rem;
      padding: 30px 0;
    }
    
    h2 {
      font-size: 1.5rem;
    }
  
    .title-div {
      flex-direction: column;
    }
  
    .title {
      font-size: 1.5rem;
      width: auto;
      margin: 20px;
    }
  
    .project {
      flex-direction: column;
    }
  
    .project img {
        width: 250px;
        height: 166px;
        margin-right: 0;
        margin-bottom: 20px;
      }
  
    .project .project-info {
      width: 15rem;
      height: auto;
    }
  
    .project h2 {
      margin: 10px 0;
    }
  
    .project p {
      width: 100%;
    }

  }
  
  /* Large Mobile */
  @media screen and (max-width: 480px) {
    body {
      font-size: 14px;
    }
    
    h1 {
      font-size: 1.8rem;
    }
    
    h2 {
      font-size: 1.2rem;
    }
  }
  