@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Debugging CSS */
/* * {
    outline: 1px solid rgba(255, 0, 0, 0.3);
  }
  
  *:hover {
    outline-color: rgba(0, 255, 0, 0.6);
  } */

body {
  font-family: 'Press Start 2P', cursive;
  color: #1e90ff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}
.title{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    /* this needs to be contained */
    border: 1px solid #1e90ff;
    margin: 20px;
    text-align: center;
    /* the width needs to be the size of the divs below it */
    width: 28rem;


}

.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    position: relative;
}

h1, h2 {
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: center;
  padding: 50px 0;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  position: relative;
  
}

.project img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  /* border: 1px solid black; */
    border-radius: 8px;


}

.project .project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 8px;
  /* This needs a rounded border */
    border: 1px solid #1e90ff;
    width: 30rem;
    height: 10rem;

  
}

.project h2 {
  margin: 20px 0;
  text-align: center;
}

.project p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* remove styling from a tags */
a {
  text-decoration: none;
  color: #1e90ff;
}

#loading-screen {
    position: fixed;
    z-index: 9999;
    /* make this elements the width and height of the screen */
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  #loading-screen h2 {
    color: white;
    font-size: 2rem;
  }

  